.add-todo-form {	
	border-bottom: 1px solid grey;
	font-family: Arial;	
}
.app__add-todo-form {
	padding-top: 10px;
}
.add-todo-form_input {
	margin-left: 20px;
	height: 65px;
	font-size: 24px;
	border: none;
	outline: none;
}