.todo {
	display: block;
	position: relative;
	height: 65px;
	border-bottom: 1px solid grey;
}
.content {
	font-family: Arial;
	font-size: 24px;
}
.todo__content {
	display: inline-block;
	position: absolute;
	margin-left: 15px;
    margin-top: 20px;
}
.todo__content_completed {
	opacity: 0.5;	
	text-decoration:line-through;
}
.button-icon {
	background: transparent;
	background-repeat: no-repeat;
	border: none;
	outline: none;
}
.button-opacity{
	opacity: 0.75;
}
.button-opacity:hover {
	opacity: 1;
}
.add-button-completed {
	background-image: url(./completed.svg);
	width:37px;
	height:48px;
}
.add-button-uncompleted {
	background-image: url(./uncompleted.svg);
	background-size: 37px 37px;
	background-repeat: no-repeat;
    background-position: center; 
	width:37px;
	height:48px;
}
.todo__add-button {
	margin-left: 20px;
	margin-top: 10px;
}
.remove-button {
	background: transparent;
	background-image: url(./delete.svg);
	background-size: 15px 20px;
	background-repeat: no-repeat;
    background-position: center; 
	width:37px;
	height:48px;
	border: none;
	outline: none;
}
.todo__remove-button {
	position: absolute;
	right: 10px;
}